.custom {
  width: 100%;
  background-color: red;
}
input{
  width: 100%;
}
/* Define a CSS class for the template container */
.update-dialog {
    background-color: lightblue;
    padding: 10px;
    font-size: 16px;
    max-height: 85vh;
    overflow-y: scroll;
  }
  
  /* Style specific elements within the template */
  .update-dialog h1.mat-dialog-title {
    /* Styles for the title */
    font-size: 24px;
    color: #333; /* Change color as needed */
  }
.mat-mdc-dialog-container .mdc-dialog .cdk-dialog-container .mdc-dialog--open {
  width: 450px;
}

  /* Add more styles as needed for other elements within the template */
  