<style>
  button:hover {
    transform: scale(1.1);
  }
  button {
    transition: all .5s;
  }
  th {
    color: #014b85;
  }

</style>
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel" style="height: 90%;">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="row">
          <div class="col-lg-10 col-md-12 col-sm-12">
            <button (click)="openCreateDialog()" style="display: block;background-color: #014b85;color: #fff;" mat-raised-button>Add Airport</button>
            <br>
    <table class="table table-light table-hover">
        <thead>
            <tr>
              <th >#</th>
              <th >Name</th>
              <th >Location</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let air of airport.airports; index as i" >
              <th >{{i+1}}</th>
              <td>{{air.name}}</td>
              <td>{{air.location}}</td>
              <td>
                <button style="margin-right: 5px;" (click)="confirmDelete(air.airportid)" mat-raised-button color="warn">
                  <mat-icon>delete</mat-icon>
                  Delete
                </button>
                <button (click)="openUpdate(air)" mat-raised-button color="primary">
                  <mat-icon>edit</mat-icon>
                  Update
                </button>
                              </td>
            </tr>
            
          </tbody>
      </table>
</div>
</div>
<app-footer style="position: absolute;top: 100%;left: 0%;right: 0%;"></app-footer>
<ng-template #deleteDialog>
<h1 mat-dialog-title>Delete Airport</h1>
<div mat-dialog-content>
  Would you like to delete this Airport?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="yes">Delete</button>
  <button mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
</div>
</ng-template>


<ng-template #updateDialog >
    <h1 mat-dialog-title style="text-align: center;">Update Airport</h1>
    <form class="custom-form" [formGroup]="updateForm" style="height:450px;width: 500px;display: flex;justify-content: center;align-items: center;flex-direction: column;">
      <p style="margin-top: 35px; width: 80%;">
        <mat-form-field appearance="outline" style="background-color: transparent;">
          <mat-label>Airport Name</mat-label>
          <input style="border-radius: 25px; color: #fff;" formControlName="name" [(ngModel)]="data.name" matInput placeholder="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" style="background-color: transparent;">
          <mat-label>Airport Location</mat-label>
          <input style="border-radius: 25px; width: 80%; margin: auto; color: #fff;" formControlName="location" [(ngModel)]="data.location" matInput placeholder="location">
        </mat-form-field>
      </p>
      
    </form>
    <div mat-dialog-actions class="update">
      <button (click)="updateAirport()" mat-button mat-dialog-close="yes">Update</button>
      <button mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
    </div>
    </ng-template>



    <ng-template #createDialog>
        <h1 mat-dialog-title >Add Airport</h1>
        <form [formGroup]="createForm" style="padding-left: 30px; ">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Airport name</mat-label>
              <input type="text" formControlName="name" matInput placeholder="name">
              
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Airport location</mat-label>
              <input type="text" formControlName="location" matInput placeholder="location">
             
            </mat-form-field>
          </p>
        </form>
        <div mat-dialog-actions>
          <button style="background-color: #04aa6d; color: white;" (click)="createAirport()" mat-button [mat-dialog-close]="true">Add</button>
          <button style="background-color: red; color: white;" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
        </div>
        </ng-template>