<style>
  button:hover {
    transform: scale(1.1)
  }
  button {
    transition: all .5s;
  }
  p {
    /* margin: auto; */
  }
  button:hover {
    transform: scale(1.1);
  }
  button {
    transition: all .5s;
  }
  th {
    color: #014b85;
  }
</style>
<div class="wrapper" >
    <app-sidebar></app-sidebar>
  <div class="main-panel" style="position: relative;">
      <app-navbar ></app-navbar>
      <div class="content" style="margin-bottom: 40px;max-height: 100%;">
          <div class="row">

              <button  (click)="openCreateDialog()" style="display: block;width: 150px;background-color: #014b85;  color: #fff;" mat-raised-button>Add one!</button>
              <br>
              <form (submit)="onSearch()" style="text-align: center;max-width: 400px; margin: 10px 0; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">

                <label for="departulDate" style="display: inline-block; margin-right: 10px; margin-bottom: 5px;">Start Date</label>
                <input type="date" id="departulDate" name="departulDate" [(ngModel)]="departulDate" style="padding: 8px; width: calc(100% - 30px); border: 1px solid #ccc; border-radius: 5px; display: inline-block;">
            
                <br>
            
                <label for="arrivelDate" style="display: inline-block; margin-right: 10px; margin-bottom: 5px;">End Date</label>
                <input type="date" id="arrivelDate" name="arrivelDate" [(ngModel)]="arrivelDate" style="padding: 8px; width: calc(100% - 30px); border: 1px solid #ccc; border-radius: 5px; display: inline-block;">
            
                <br>
            
                <button type="submit" class="btn btn-primary" style="display: block; width: calc(100% - 30px); padding: 10px; border: none; border-radius: 5px; background-color: #007bff; color: white;">Search</button>
            
            </form>
            
        <table class="table table-light table-hover" style="width: 100%;max-height:100% ;overflow-x: scroll;box-shadow: 3px 3px 3px #aaa;">
          <thead>
              <tr>
                <th >#</th>
                <th >status</th>
                <th >Departuredate</th>
                <th >Arrivaldate</th>
              
                <th>From Airport</th>
                <th>To Airport</th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let f of fly.flight; index as i" >
                <th >{{i+1}}</th>
                <td>{{f.status}}</td>
                <td>{{f.departuredate | date:'short'}}</td>
                <td>{{f.arrivaldate | date:'short'}}</td>
                
                <td>{{f.fromAirportName}}</td>
            <td>{{f.toAirportName}}</td>
                <td>
                  <button style="margin-right: 5px; margin-bottom: 5px;" (click)="openDeleteDialog(f.flightid)" mat-raised-button color="warn" >Delete</button>
                  <button (click)="openUpdateDialog(f)" mat-raised-button color="primary">Update</button>
                  <button (click)="gitItById(f.flightid)" title="Show More Details" mat-raised-button style="background-color: orange; color: white; margin-left: 5px;">
                    <mat-icon>visibility</mat-icon>
                    Show Details
                </button>
                              </td>
              </tr>
              
            </tbody>
        </table>
      </div>
  </div> 
  <app-footer style="position: absolute;right: 0;left: 0;top: 100%"></app-footer>

</div>


<ng-template #getId>
  <div class="flight-card" style="width: 805px;height:610px;margin: auto;">
    <div class="flight-card-header">
      <div class="flight-logo">
        <!-- <img src="https://book.jetblue.com/assets/header/img/jetblue-white-reg.png" alt=""> -->
      </div>
      <div class="flight-data">
        <div class="passanger-details">
          <span class="title">Passenger</span>
          <span class="detail">{{flightData.capacity}}</span>
        </div>
        <div class="passanger-depart" style="white-space: nowrap;">
          <span class="title">Depart</span>
          <span class="detail">{{ flightData.departuredate | date:'hh:mm a' }}</span>
        </div>
        <div class="passanger-arrives" style="white-space: nowrap;">
          <span class="title">Arrives</span>
          <span class="detail">{{ flightData.arrivaldate | date:'hh:mm a' }}</span>
        </div>
        
      </div>
    </div>
    <div class="flight-card-content">
      <div class="flight-row">
        <div class="flight-from">
          <span class="from-code">{{ flightData.fromcountry }}</span>
          <span class="from-city">{{ flightData.fromCity }}</span>
        </div>
        <div class="plane">
          <img src="https://cdn.onlinewebfonts.com/svg/img_537856.svg" alt="">
        </div>
        <div class="flight-to">
          <span class="to-code">{{ flightData.tocountry  }}</span>
          <span class="to-city">{{ flightData.toCity }}</span>
        </div>
      </div>
      <div class="flight-details-row">
        <div class="flight-operator">
          <span class="title">Price</span>
          <span class="detail">{{ flightData.price  }}</span>
        </div>
        <div class="flight-number">
          <span class="title">Status</span>
          <span class="detail">{{ flightData.status }}</span>
        </div>
        <div class="flight-class">
          <span class="title">CLASS</span>
          <span class="detail">{{ flightData.travelclass  }}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>



<ng-template #deleteDialog>
<h1 mat-dialog-title>Delete Flight</h1>
<div mat-dialog-content>
  Would you like to delete this Flight?
</div>
<div mat-dialog-actions>
  <button style="background-color: red; color: white;" mat-button mat-dialog-close="yes">Delete</button>
  <button style="background-color: red; color: white;" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
</div>
</ng-template>


<ng-template #updateDialog class="update-dialog" style="padding: 15px; max-width: 400px; width: 100%;">
<h1 style="text-align: center;">Update</h1>
  <form [formGroup]="updateForms" class="my-form" style="background-color: transparent;margin: 0; padding-right: 25px;width: 600px; height: 70vh; width: 700px; display: flex; flex-direction: column; justify-content: space-between;">

    <div>
      <mat-form-field appearance="fill" style="width: 48%; margin-right: 4%;">
        <input type="number" formControlName="capacity" [(ngModel)]="data.capacity" matInput placeholder="Capacity">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 48%;">
        <input type="text" formControlName="status" [(ngModel)]="data.status" matInput placeholder="Status">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" style="width: 48%; margin-right: 4%;">
        <input type="number" formControlName="price" [(ngModel)]="data.price" matInput placeholder="Price">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 48%;">
        <input type="text" formControlName="description" [(ngModel)]="data.description" matInput placeholder="Description">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" style="width: 48%; margin-right: 4%;">
        <input type="text" formControlName="fromcountry" [(ngModel)]="data.fromcountry" matInput placeholder="From Country">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 48%;">
        <input type="text" formControlName="tocountry" [(ngModel)]="data.tocountry" matInput placeholder="To Country">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill" style="width: 48%; margin-right: 4%;">
        <input type="text" formControlName="travelclass" [(ngModel)]="data.travelclass" matInput placeholder="Travel Class">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 48%;">
        <select class="form-select" aria-label="Default select example" formControlName="fromid" [(ngModel)]="data.fromid" style="width: 100%;">
          <option *ngFor="let air of airport.airports" [value]="air.airportid">{{air.name}}</option>
        </select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" style="width: 100%; margin-bottom: 10px;">
      <select class="form-select" aria-label="Default select example" formControlName="toid" [(ngModel)]="data.toid" style="width: 100%;">
        <option *ngFor="let air of airport.airports" [value]="air.airportid">{{air.name}}</option>
      </select>
    </mat-form-field>

    <div>
      <mat-form-field appearance="fill" style="width: 48%; margin-right: 4%;">
        <input type="datetime-local" formControlName="departuredate" [(ngModel)]="data.departuredate" matInput placeholder="Departure Date">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 48%;">
        <input type="datetime-local" formControlName="arrivaldate" [(ngModel)]="data.arrivaldate" matInput placeholder="Arrival Date">
      </mat-form-field>
    </div>

    <div style="margin-bottom: 10px;">
      <div class="file-upload">
        <label for="image-upload" class="file-label" style="cursor: pointer;">
          <i class="fas fa-upload"></i> Upload Image
        </label>
        <input type="file" #file accept="image/*" id="image-upload" formControlName="image" (change)="uploadImage(file.files)" style="display: none;">
      </div>
    </div>

    <div style="display: flex; justify-content: center;">
      <button style="background-color: blue; color: white;" (click)="updateFlight()" mat-button mat-dialog-close="yes">Update</button>
      <button style="background-color: red; color: white; margin-left: 10px;" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
    </div>

  </form>
</ng-template>




<ng-template #createDialog class="" style="width: 100vw;">
  <h1 style="text-align: center; margin: 0;">Add Flight</h1>
  <form class="formAddFlight" [formGroup]="createForms" style="width: 30vw; max-height: 72vh; overflow: auto; display: flex; flex-direction: column; align-items: center;">

    
    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>capacity</mat-label>
      <input type="text" formControlName="capacity" matInput placeholder="capacity">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>price</mat-label>
      <input type="text" formControlName="price" matInput placeholder="price">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>description</mat-label>
      <input type="text" formControlName="description" matInput placeholder="description">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>fromcountry</mat-label>
      <input type="text" formControlName="fromcountry" matInput placeholder="fromcountry">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>tocountry</mat-label>
      <input type="text" formControlName="tocountry" matInput placeholder="tocountry">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>travelclass</mat-label>
      <input type="text" formControlName="travelclass" matInput placeholder="travelclass">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <select class="form-select" aria-label="Default select example" formControlName="fromid" [(ngModel)]="data.fromid">
        <option *ngFor="let air of airport.airports" [value]="air.airportid">{{air.name}}</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <select class="form-select" aria-label="Default select example" formControlName="toid" [(ngModel)]="data.toid">
        <option *ngFor="let air of airport.airports" [value]="air.airportid">{{air.name}}</option>
      </select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>departuredate</mat-label>
      <input type="datetime-local" formControlName="departuredate" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 85%;">
      <mat-label>arrivaldate</mat-label>
      <input type="datetime-local" formControlName="arrivaldate" matInput>
    </mat-form-field>

    <div style="width: 100%;">
      <label for="image-upload" class="file-label" style="cursor: pointer;">
        <i class="fas fa-upload"></i> Upload Image
        <input type="file" #file accept="image/*" id="image-upload" formControlName="image" (change)="uploadImage(file.files)" style="display: none;">
      </label>
    </div>

    <div name="button" mat-dialog-actions style="margin-top: 16px;">
      <button style="background-color: #04aa6d; color: #fff;margin-right: 10px;" (click)="createFlight()" mat-button [mat-dialog-close]="true">Add</button>
      <button style="background-color: red; color: #fff;" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
    </div>
  </form>
</ng-template>

