
<div class="wrapper" style="height: 100%;">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <button  (click)="openCreateDialog()" style="display: block; background-color: #04aa6d; color: white;" mat-raised-button>Add one!</button>
            <br>
            <form (submit)="onSearch()">
              <label for="departulDate">Start Date</label>
            <input type="date" id="departulDate" name="departulDate" [(ngModel)]="departulDate">
            <label for="arrivelDate">End Date</label>

            <input type="date" id="arrivelDate" name="arrivelDate" [(ngModel)]="arrivelDate">
            <button type="submit" class="btn btn-primary">Search</button>
            </form>
    <table class="table table-light table-hover" style="width: 100%;">
        <thead>
            <tr>
              <th >#</th>
              <!-- <th >Capacity</th> -->
              <th >status</th>
              <!-- <th >price</th> -->
              <th >Departuredate</th>
              <th >Arrivaldate</th>
              <!-- <th >Description</th>
              <th >Fromcountry</th>
              <th >Fromcountry</th>
              <th >Travelclass</th> -->
              <th>From Airport</th>
              <th>To Airport</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of fly.flight; index as i" >
              <th >{{i+1}}</th>
              <!-- <td>{{f.capacity}}</td> -->
              <td>{{f.status}}</td>
              <!-- <td>{{f.price}}</td> -->
              <td>{{f.departuredate | date:'short'}}</td>
              <td>{{f.arrivaldate | date:'short'}}</td>
              <!-- <td>{{f.description}}</td>
              <td>{{f.fromcountry}}</td> -->
              <!-- <td>{{f.tocountry}}</td>
              <td>{{f.travelclass}}</td> -->
              <td>{{f.fromAirportName}}</td>
          <td>{{f.toAirportName}}</td>
              <td>
                <button style="margin-right: 5px; margin-bottom: 5px;" (click)="openDeleteDialog(f.flightid)" mat-raised-button color="warn" >Delete</button>
                <button (click)="openUpdateDialog(f)" mat-raised-button color="primary">Update</button>
                <button (click)="gitItById(f.flightid)" mat-raised-button style="background-color: orange;color: white;">👀</button>
              </td>
            </tr>
            
          </tbody>
      </table>
</div>

</div>
<app-footer style="position: absolute; bottom: 0;right: 0;left: 0;"></app-footer>

<ng-template #getId>
  <table class="table table-light table-hover" style="width: 100%;">
    <thead>
        <tr>
          <th >Capacity</th>
          <th >status</th>
          <th >price</th>
          <th >Departuredate</th>
          <th >Arrivaldate</th>
          <th >Description</th>
          <th >Fromcountry</th>
          <th >Fromcountry</th>
          <th >Travelclass</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let f of fly.flight; index as i" > -->
          <tr>
          <td>{{flightData.capacity}}</td>
          <td>{{flightData.status}}</td>
          <td>{{flightData.price}}</td>
          <td>{{flightData.departuredate}}</td>
          <td>{{flightData.arrivaldate}}</td>
          <td>{{flightData.description}}</td>
          <td>{{flightData.fromcountry}}</td>
          <!-- <td>{{flightData.tocountry}}</td>
          <td>{{flightData.travelclass}}</td> -->
          <td>{{flightData.fromAirportName}}</td>
          <td>{{flightData.toAirportName}}</td>
        </tr>
        
      </tbody>
  </table>
</ng-template>
<ng-template #deleteDialog>
<h1 mat-dialog-title>Delete Flight</h1>
<div mat-dialog-content>
  Would you like to delete this Flight?
</div>
<div mat-dialog-actions>
  <button style="background-color: red; color: white;" mat-button mat-dialog-close="yes">Delete</button>
  <button style="background-color: red; color: white;" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
</div>
</ng-template>


<ng-template #updateDialog >
    <h1 style="text-align: center;" mat-dialog-title>Update Airport</h1>
    <form [formGroup]="updateForms"  style="max-height: 85vh;overflow: auto;">
    <p>
        <mat-form-field appearance="fill">
          <input type="number" formControlName="capacity" [(ngModel)]="data.capacity" matInput >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="text" formControlName="status" [(ngModel)]="data.status" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="number" type="number" formControlName="price" [(ngModel)]="data.price" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="text" formControlName="description" [(ngModel)]="data.description" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="text" formControlName="fromcountry" [(ngModel)]="data.fromcountry" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="text" formControlName="tocountry" [(ngModel)]="data.tocountry" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="text" formControlName="travelclass" [(ngModel)]="data.travelclass" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="datetime-local" formControlName="departuredate" [(ngModel)]="data.departuredate" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <input type="datetime-local" formControlName="arrivaldate" [(ngModel)]="data.arrivaldate" matInput placeholder="Placeholder">
        </mat-form-field>
      </p>
      <div>
        <!-- <input type="file" #file formControlName="image" (change)="uploadImage(file.files)" > -->
        <div class="file-upload">
          <label for="image-upload" class="file-label">
            <i class="fas fa-upload"></i> Upload Image
          </label>
          <input type="file" #file accept="image/*" id="image-upload" formControlName="image" (change)="uploadImage(file.files)">
        </div>
      </div>
    </form>
    <div mat-dialog-actions>
      <button style="background-color: blue; color: white;" (click)="updateFlight()" mat-button mat-dialog-close="yes">Update</button>
      <button style="background-color: red; color: white;" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
    </div>
    </ng-template>



    <ng-template #createDialog class="" >
      
      <h1 style="text-align: center; margin: 0;" mat-dialog-title>Add Airport</h1>
      <form class="formAddFlight" [formGroup]="createForms" style="max-height: 85vh;overflow: auto;">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>capacity</mat-label>
              <input type="text" formControlName="capacity" matInput placeholder="capacity">
           
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>status</mat-label>
              <input type="text" formControlName="status" matInput placeholder="status" >
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>price</mat-label>
              <input type="text" formControlName="price" matInput placeholder="price">
              
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>description</mat-label>
              <input type="text" formControlName="description" matInput placeholder="description">

            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>fromcountry</mat-label>
              <input type="text" formControlName="fromcountry" matInput placeholder="fromcountry">
   
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>tocountry</mat-label>
              <input type="text" formControlName="tocountry" matInput placeholder="tocountry">
        
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>travelclass</mat-label>
              <input type="text" formControlName="travelclass" matInput placeholder="travelclass">
              
            </mat-form-field>
          </p>
          
            <mat-form-field appearance="outline">
              <mat-label>departuredate</mat-label>
              <input type="datetime-local" formControlName="departuredate" matInput >
             
            </mat-form-field>
          
          <p>
            <mat-form-field appearance="outline">
              <mat-label>arrivaldate</mat-label>
              
              <input type="datetime-local" formControlName="arrivaldate" matInput width="300px">
            
            </mat-form-field>
          </p>
            <div name="button">
              <div class="file-upload">
                <label for="image-upload" class="file-label">
                  <i class="fas fa-upload"></i> Upload Image
                </label>
                <input type="file" #file accept="image/*" id="image-upload" formControlName="image" (change)="uploadImage(file.files)">
              </div>
                      
        </div>

            <div name="button" mat-dialog-actions>
              <button style="background-color: #04aa6d;color:#fff" (click)="createFlight()" mat-button [mat-dialog-close]="true">Add</button>
              <button style="background-color: red;color:#fff" mat-button mat-dialog-close="no" cdkFocusInitial>Cancel</button>
            </div>
        </form>
     
        </ng-template> 