



form {
    
        width: 600px;
     height: auto;
    text-align: center;
}
#headTitle{
    text-align: center;
}

input{
    width: 300px;
    align-content: center;
}

#button{
align-items: center;


}
#button2{
    align-items: center;
    
    
    }