<div class="wrapper ">
    <app-sidebar></app-sidebar>
    <div class="main-panel" style="height: 90%;">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <!-- <button (click)="openCreateDialog()" style="display: block;" mat-raised-button>Add one!</button> -->
            <br>
    <table class="table table-light table-hover" style="width: 100%;">
        <thead>
            <tr>
              <th >#</th>
              <th >message</th>
              <th >subject</th>
              <th >email</th>
              <th >phone</th>
              <th >senddate</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of contact.contacts; index as i" >
              <th >{{i+1}}</th>
              <td >{{f.message}}</td>
              <td>{{f.subject}}</td>
              <td>{{f.email}}</td>
              <td>{{f.phone}}</td>
              <td>{{f.senddate}}</td>
              
            </tr>
            
          </tbody>
      </table>
</div>
</div>
<app-footer style="position: absolute;top: 100%;left: 0;right: 0;"></app-footer>
