<app-navbar></app-navbar>

<!-- <table>
    <thead>
        <tr>
            <td>
                Status
            </td>
            <td>
                Departure Date
            </td>
            <td>
                Arrival Date
            </td>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let obj of search.dateShow">
            <td>
                {{obj.status}}
            </td>
            <td>
                {{obj.departuredate}}
            </td>
            <td>
                {{obj.arrivaldate}}
            </td>
        </tr>
    </tbody>
</table> -->
<!-- Favourite Places Start -->
<div class="favourite-place place-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <span>FEATURED TOURS Packages</span>
                    <h2>Favourite Places</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let fly of search.dateShow">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <img src="../../../assets/ApiImage/{{fly.image}}" alt="">
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>Capacity {{fly.capacity}}</span> </span>
                            <h3><a href="#">{{fly.description}}</a></h3>
                            <p class="dolor">{{fly.price}} <span>/ Per Person</span></p>
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>{{fly.departuredate | date:'short'}}</li>
                                <li><i class="far fa-clock"></i>{{fly.arrivaldate | date:'short'}}</li>
                            </ul>
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>{{fly.fromcountry}}</li>
                                <li><i class="fas fa-map-marker-alt"></i>{{fly.tocountry}}</li>
                            </ul>
                            <div>
                                
                                <button 
                                style="background-color: #007bff; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; cursor: pointer;" 
                                (click)="cardDialog(fly.flightid, fly.price)"
                              >
                                <i style="margin-right: 5px;" class="fas fa-plane"></i> Booked
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Favourite Places End -->
<app-footer></app-footer>

<ng-template #putTicketCard style="margin: 50px;">
    <h2 style="margin: 50px;">Please enter number of ticket </h2>
    <input style="margin: 20px 20px 20px 50px;" type="number" min="1" placeholder="Number of Ticket" (change)="tickCard($event)">
    <button style="background-color: green;color: white;" type="submet" (click)="takeCardTicket()">Booked</button>
</ng-template>