<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
  <app-navbar></app-navbar>
  <body style="display: flex;justify-content: center;align-items: center;">
    <div class="container" style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
            <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom" style="background-color: #fff;">
                <!-- <input class="fs-5 fw-semibold" [(ngModel)]="username"/> -->
            </div>
            <div class="list-group list-group-flush border-bottom scrollarea" style="max-height: 300px; overflow-y: auto;">
                <div class="list-group-item list-group-item-action py-3 lh-tight"
                    *ngFor="let msg of messages"
                    style="background-color: #fff; border-bottom: 1px solid #ccc;">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">{{msg.username}}</strong>
                    </div>
                    <div class="col-10 mb-1 small">{{msg.message}}</div>
                </div>
            </div>
        </div>
        <form (submit)="submit()" style="margin-top: 10px;">
            <input class="form-control" placeholder="Write a message" [(ngModel)]="message" [ngModelOptions]="{ standalone: true }" style="border-radius: 20px; border: 1px solid #ccc; padding: 10px;"/>
        </form>
    </div>
  </body>
  

  <app-footer></app-footer>
</div>
</div>

