<!-- <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/logo.png" alt="">
            </div>
        </div>
    </div>
</div> -->
<div ></div>
<app-navbar></app-navbar>
<main >

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider hero-overly slider-height d-flex align-items-center" style="background-image: url('../../../assets/ApiImage/{{home.fullHome.image}}');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-9 col-lg-9 col-md-9">
                            <div class="hero__caption">
                                <h1>{{home.fullHome.text1}} <span>{{home.fullHome.text2}}</span> </h1>
                                <!-- <p>Where would you like to go?</p> -->
                            </div>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <div class="row">
                        <div class="col-xl-12">
                            <!-- form -->
                            <form (submit)="serachCountry()"  class="search-box">
                                <div class="input-form mb-30">
                                    <input type="text" [(ngModel)]="fromCountry" name="fromCountry" id="fromCountry" placeholder="Where from Would you like to go ?">
                                </div>
                                <div class="input-form mb-30">
                                    <input type="text" [(ngModel)]="toCountry" name="toCountry" id="toCountry"  placeholder="Where Would you like to go ?">
                                </div>
                                <div class="search-form mb-30">
                                    <button class="search-button" style="padding: 10px 20px; border: none; background-color: #007bff; color: #fff; cursor: pointer;">
                                        <i class="fa fa-search" style="margin-right: 5px;"></i>
                                        Search
                                    </button>
                                                                        <!-- <a href="#">Search</a> -->
                                </div>	
                            </form>	
                            <form (submit)="onSearch()" class="search-box" style="margin-top: 10px;">
                                <div class="input-form mb-30">
                                    <label for="startDate">Departure Date</label>
                                    <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" placeholder="When Would you like to go ?">
                                    <label for="endDate">Arrival Date</label>
                                    <input type="date"  id="endDate" [(ngModel)]="endDate" name="endDate" placeholder="When Would you like to go ?">
                                </div>
                                
                                <div class="search-form mb-30">
                                    <button type="submit" style="padding: 10px 20px; border: none; background-color: #007bff; color: #fff; cursor: pointer;">
                                        <i class="fa fa-search" style="margin-right: 5px;"></i>
                                        Search
                                    </button>
                                                                        <!-- <a type="submit">Search</a> -->
                                </div>	
                            </form>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #searchDialog>
        <table>
            <thead>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        Departure Date
                    </td>
                    <td>
                        Arrival Date
                    </td>
                </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let obj of search.dateShow">
                    <td>
                        {{obj.status}}
                    </td>
                    <td>
                        {{obj.departuredate}}
                    </td>
                    <td>
                        {{obj.arrivaldate}}
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #searchCountryDialog>
        <table>
            <thead>
                <tr>
                    <td>
                        Status
                    </td>
                    <td>
                        Departure Date
                    </td>
                    <td>
                        Arrival Date
                    </td>
                    <td>
                        From Country
                    </td>
                    <td>
                        To Country
                    </td>
                </tr>
                
            </thead>
            <tbody>
                <tr *ngFor="let obj of search.countryShow">
                    <td>
                        {{obj.status}}
                    </td>
                    <td>
                        {{obj.departuredate}}
                    </td>
                    <td>
                        {{obj.arrivaldate}}
                    </td>
                    <td>
                        {{obj.fromcountry}}
                    </td>
                    <td>
                        {{obj.tocountry}}
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <!-- slider Area End-->
    <!-- Our Services Start -->
        <h1 style="margin-top: 70px;align-content: center;text-align: center;font-size: 35px;font-weight: bold;margin-bottom: 30px;">{{home.fullHome.text3}}</h1>

        <div id="map" style="height: 500px; width: 90%; margin: 0 auto;"></div>
    
    <div class="our-services servic-padding">
        <div class="container">
            <div class="row d-flex justify-contnet-center">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap">
                            <h5>{{stat.num}}<br>Number Of Users</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-pay"></span>
                        </div>
                        <div class="services-cap">
                            <h5>{{stat.NumOfAirport}}<br>Number Of Airports</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-experience"></span>
                        </div>
                        <div class="services-cap">
                            <h5>{{stat.maxReserved.totaL_TICKETS}}<br>Max Reserved Flight</h5>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-good"></span>
                        </div>
                        <div class="services-cap">
                            <h5>98% Our Travelers<br>are Happy</h5>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
     <!-- Our Services End -->
   <!-- Favourite Places Start -->
<div class="favourite-place place-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <!-- <span>FEATURED TOURS Packages</span> -->
                    <h2>{{home.fullHome.text7}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6" *ngFor="let fly of fly.flightForUser">
                <div class="single-place mb-30">
                    <div class="place-img">
                        <img style="height: 40vh;" src="../../../assets/ApiImage/{{fly.image}}" alt="">
                    </div>
                    <div class="place-cap">
                        <div class="place-cap-top">
                            <span><i class="fas fa-star"></i><span>Capacity {{fly.capacity}}</span> </span>
                            <h3><a href="#">{{fly.description}}</a></h3>
                            <p class="dolor">${{fly.price}} <span>/ Per Person</span></p>
                            <!-- <input #total type="number" placeholder="Number of Ticket" min="1" (change)="numOfTicket($event, fly.price)">
                            <p *ngIf="total !=null">Total Price = {{fly.price * totalPrice}}</p> -->
                        </div>
                        <div class="place-cap-bottom">
                            <ul>
                                <li><i class="far fa-clock"></i>{{fly.departuredate | date:'short'}}</li>
                                <li><i class="far fa-clock"></i>{{fly.arrivaldate | date:'short'}}</li>
                            </ul>
                            <ul>
                                <li><i class="fas fa-map-marker-alt"></i>{{fly.fromcountry}}</li>
                                <li><i class="fas fa-map-marker-alt"></i>{{fly.tocountry}}</li>
                            </ul>
                            <div>
                                
                                <button 
                                style="background-color: #007bff; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; cursor: pointer;" 
                                (click)="cardDialog(fly.flightid, fly.price)"
                              >
                                <i style="margin-right: 5px;" class="fas fa-plane"></i> Booked
                              </button>
                                                          </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<ng-template #putTicketCard style="margin: 50px;">
    <h2 style="margin: 50px;">Please enter number of ticket </h2>
    <input style="margin: 20px 20px 20px 50px;" type="number" min="1" placeholder="Number of Ticket" (change)="tickCard($event)">
    <button style="background-color: green;color: white;" type="submet" (click)="takeCardTicket()">Booked</button>
</ng-template>
<!-- Favourite Places End -->
    <!-- Video Start Arera -->
    <!-- <div class="video-area video-bg pt-200 pb-200"  data-background="../../../assets/homeAssets/img/service/video-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-caption text-center">
                        <div class="video-icon">
                            <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" tabindex="0"><i class="fas fa-play"></i></a>
                        </div>
                        <p class="pera1">Love where you're going in the perfect time</p>
                        <p class="pera2">Tripo is a World Leading Online</p>
                        <p class="pera3"> Tour Booking Platform</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Video Start End -->
       <!-- Support Company Start-->
       <div class="support-company-area support-padding fix" style="padding-top: 0;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img mb-50">
                        <img src="../../../assets/ApiImage/{{home.imageAbout}}" alt="">
                        <div class="support-img-cap">
                            <span>{{home.fullAbout.text4}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2">
                            <span>{{home.fullAbout.text1}}</span>
                            <h2>{{home.fullAbout.text2}} <br>{{home.fullAbout.text3}}</h2>
                        </div>
                        <div class="support-caption">
                            <p>{{home.fullAbout.descriptions}}</p>
                            <!-- <div class="select-suport-items">
                                <label class="single-items">Lorem ipsum dolor sit amet
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="single-items">Consectetur adipisicing sed do
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="single-items">Eiusmod tempor incididunt
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="single-items">Ad minim veniam, quis nostrud.
                                    <input type="checkbox" checked="checked active">
                                    <span class="checkmark"></span>
                                </label>
                            </div> -->
                            <!-- <a href="#" class="btn border-btn">About us</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Support Company End-->
    <!-- Testimonial Start -->
    <!-- Testimonial Start -->
    <div class="testimonial-area testimonial-padding" style="background-image: url('../../../assets/adminAssets/img/header.jpg'); margin: 15px 0; background-repeat: no-repeat; background-size: cover; width: 100%;">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-xl-11 col-lg-11 col-md-9">
              <div class="h1-testimonial">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let t of testi.testForUser" [class.active]="t === testi.testForUser[0]">
                      <div style="text-align: center;">
                        <img src="../../../assets/ApiImage/{{t.userImage}}" alt="User Image" style="height: 150px; width: 150px; border-radius: 50%;">
                        <h2 style="color: white;">{{t.fullName}}</h2>
                        <p style="color: white;">{{t.message}}</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Testimonial End -->
    <!-- Blog Area Start -->
    <!-- <div class="home-blog-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>Our Recent news</span>
                        <h2>Tourist Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="../../../assets/homeAssets/img/blog/home-blog1.jpg" alt="">
                            </div>
                            <div class="blog-cap">
                                <p> |   Traveling</p>
                                <h3><a href="single-blog.html">Tips For Taking A Long-Term Trip With Kids.</a></h3>
                                <a href="#" class="more-btn">Read more »</a>
                            </div>
                        </div>
                        <div class="blog-date text-center">
                            <span>24</span>
                            <p>Now</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="../../../assets/homeAssets/img/blog/home-blog2.jpg" alt="">
                            </div>
                            <div class="blog-cap">
                                <p> |   Traveling</p>
                                <h3><a href="single-blog.html">Tips For Taking A Long-Term Trip With Kids.</a></h3>
                                <a href="#" class="more-btn">Read more »</a>
                            </div>
                        </div>
                        <div class="blog-date text-center">
                            <span>24</span>
                            <p>Now</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Blog Area End -->

</main><app-footer></app-footer>


<ng-template #putTicket style="margin: 50px;">
    <h2 style="margin: 50px;">Please enter number of ticket </h2>
    <input style="margin: 20px 20px 20px 50px;" type="number" min="1" placeholder="Number of Ticket" (change)="tikMap($event)">
    <button style="background-color: green;color: white;" type="submet" (click)="takeTicket()">Booked</button>
</ng-template>