<div class="wrapper ">
    <app-sidebar></app-sidebar>
    <div class="main-panel" style="position: relative;height: 90%;">
    <app-navbar></app-navbar>
    <div class="content" >
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
    <table class="table table-light table-hover" style="width: 100%;">
        <thead>
            <tr>
              <th >#</th>
              <th >First Name</th>
              <th >Last Name</th>
              <th >B.Date</th>
              <th >Email</th>
              <th ></th>
              
</tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of stats.registerUsers; index as i" >
              <th >{{i+1}}</th>
              <td>{{f.fname}}</td>
              <td>{{f.lname}}</td>
              <td>{{f.birthdate|date}}</td>
              <td>{{f.email}}</td>
              <td><img style="width: 60px;height: 60px;" src="../../../assets/ApiImage/{{f.image}}"></td>
            </tr>
            
          </tbody>
      </table>
</div>
<app-footer style="position: absolute;top: 100%;right: 0;left: 0;"></app-footer>

</div>
