<div class="wrapper " >
<app-sidebar></app-sidebar>
<div class="main-panel" >
<app-navbar></app-navbar>
<div class="content" style="height: 95vh;position: relative;">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <!-- #fbc658 -->
                  <i class="fas fa-users" style="color: #fbc658;"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Number Of User</p>
                  <p class="card-title">{{stat.num}}<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i>
              <!-- Update Now -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="fas fa-plane" style="color: #6bd098;"></i>

                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Airport</p>
                  <p class="card-title">{{stat.NumOfAirport}}<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-calendar-o"></i>
              <!-- Last day -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="fas fa-ticket-alt" style="color: #ef8157;"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Max Reserved</p>
                  <p class="card-title">{{stat.maxReserved.totaL_TICKETS}}<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i>
              {{stat.maxReserved.fromcountry}} - {{stat.maxReserved.tocountry}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-5 col-md-4">
                <div class="icon-big text-center icon-warning">
                  <i class="fas fa-dollar-sign text-primary"></i>
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Total Profit</p>
                  <p class="card-title">${{report.myProfit}}<p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer ">
            <hr>
            <div class="stats">
              <i class="fa fa-refresh"></i>
              <!-- Update now -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="row" style="box-sizing: content-box;">
      <h1></h1>
      
    </div>
    <canvas  id="chart"></canvas>
    <app-footer style="position: absolute;right: 0;left: 0;bottom: 0;margin-top: 25px;"></app-footer>
</div>
