<app-navbar></app-navbar>
<main>

    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" style="background-image:url('../../../assets/homeAssets/img/hero/about.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Support Company Start-->
    <div class="support-company-area support-padding fix">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                  <div class="support-location-img mb-50">
                      <img src="../../../assets/ApiImage/{{home.imageAbout}}" alt="">
                      <div class="support-img-cap">
                          <span>{{home.fullAbout.text4}}</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                  <div class="right-caption">
                      <!-- Section Tittle -->
                      <div class="section-tittle section-tittle2">
                          <span>{{home.fullAbout.text1}}</span>
                          <h2>{{home.fullAbout.text2}} <br>{{home.fullAbout.text3}}</h2>
                      </div>
                      <div class="support-caption">
                          <p>{{home.fullAbout.descriptions}}</p>
                          <!-- <div class="select-suport-items">
                              <label class="single-items">Lorem ipsum dolor sit amet
                                  <input type="checkbox" checked="checked active">
                                  <span class="checkmark"></span>
                              </label>
                              <label class="single-items">Consectetur adipisicing sed do
                                  <input type="checkbox" checked="checked active">
                                  <span class="checkmark"></span>
                              </label>
                              <label class="single-items">Eiusmod tempor incididunt
                                  <input type="checkbox" checked="checked active">
                                  <span class="checkmark"></span>
                              </label>
                              <label class="single-items">Ad minim veniam, quis nostrud.
                                  <input type="checkbox" checked="checked active">
                                  <span class="checkmark"></span>
                              </label>
                          </div> -->
                          <a href="#" class="btn border-btn">About us</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!-- Support Company End-->
  
    <!-- Video Start End -->
     <!-- Testimonial Start -->
     <!-- Testimonial Start -->
     <div class="testimonial-area testimonial-padding" style="background-image: url('../../../assets/adminAssets/img/header.jpg'); margin: 15px 0; background-repeat: no-repeat; background-size: cover; width: 100%;">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-xl-11 col-lg-11 col-md-9">
            <div class="h1-testimonial">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let t of testi.testForUser" [class.active]="t === testi.testForUser[0]">
                    <div style="text-align: center;">
                      <img src="../../../assets/ApiImage/{{t.userImage}}" alt="User Image" style="height: 150px; width: 150px; border-radius: 50%;">
                      <h2 style="color: white;">{{t.fullName}}</h2>
                      <p style="color: white;">{{t.message}}</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Testimonial End -->
      
    <!-- Testimonial End -->
</main>
<app-footer></app-footer>